/**

**/
.profile ul.add-section li.weixin span, .profile ul.add-section li i.weixin {
    color: #00bd0c;
}

.profile ul.add-section li.line span, .profile ul.add-section li i.line {
    color: #00bd0c;
}
.content-food p span,.content-food p i.weixin{
    color: #00bd0c;
}

.focus{
    border: 1px solid #e8280b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#logo a img{
    max-width: 100%;
    height: 65px;
}

.featured-food img{
    max-width: 100%;
    height: 110px;
}

@media only screen and (min-width:1367px) and (max-width:1900px) {
    .row .wrap-flat-product .video img{
        height:242px ;
    }
}
